@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

:root {
  --color-pink: "#F4E1E4";
  /*C4939A*/
  --color-green: "#EFFBF1";
  /*65743A*/
  --color-orange: "#FDDED8";
  /* #B87D4B */
  --color-blue: "#D6E4FF";
  /* #1C6E8C */
  --color-black: "#010102";
  --color-red: "#903242";
  --color-purple: "#EBDEF8";

}

@theme {
  --font-manrope: 'Manrope', sans-serif;
  --font-dm-sans: 'DM Sans', sans-serif;
  --font-inknut: 'Inknut Antiqua', serif;
  --font-assistant: 'Assistant', sans-serif;
  --color-pink: "#F4E1E4";
  /*C4939A*/
  --color-green: "#EFFBF1";
  /*65743A*/
  --color-orange: "#FDDED8";
  /* #B87D4B */
  --color-blue: "#D6E4FF";
  /* #1C6E8C */
  --color-black: "010102";
  --color-red: "#903242";
  --color-purple: "#EBDEF8";
}

@layer components {
  [data-id="header-item"] {
    @apply p-2 flex items-center justify-center ml-6 mr-6;
  }

  [data-id="footer-item"] {
    @apply p-2 flex items-center justify-center ml-6 mr-6;
  }

  /* root of pages */
  [data-id="main"] {
    @apply min-h-screen flex flex-col bg-[#010102] text-white font-assistant overflow-x-hidden;
  }
}