@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

:root {
  --color-pink: "#BF8B85";
  /*C4939A*/
  --color-green: "#82846D";
  /*65743A*/
  --color-orange: "#468186";
  /* #B87D4B */
  --color-blue: "#468186";
  --color-blue-dark: "#2A4E50";
  --color-blue-light: "#5CA4A9";
  /* #1C6E8C */
  --color-black: "#010102";
  --color-red: "#766C7F";
  --color-purple: "#292137";

}

@theme {
  --font-manrope: 'Manrope', sans-serif;
  --font-dm-sans: 'DM Sans', sans-serif;
  --font-inknut: 'Inknut Antiqua', serif;
  --font-assistant: 'Assistant', sans-serif;
  --color-pink: "#F4E1E4";
  /*C4939A*/
  --color-green: "#EFFBF1";
  /*65743A*/
  --color-orange: "#FDDED8";
  /* #B87D4B */
  --color-blue: "#D6E4FF";
  /* #1C6E8C */
  --color-black: "010102";
  --color-red: "#903242";
  --color-purple: "#EBDEF8";
}

@layer components {
  [data-id="header-item"] {
    @apply p-2 flex items-center justify-center ml-6 mr-6;
  }

  [data-id="footer-item"] {
    @apply p-2 flex items-center justify-center ml-6 mr-6;
  }

  /* root of pages */
  [data-id="main"] {
    @apply min-h-screen flex flex-col bg-[#010102] text-white font-assistant overflow-x-hidden overflow-y-auto overscroll-none;
  }

  /* subject headers */
  [data-id="subject-header"] {
    @apply lg:text-7xl text-5xl font-bold font-inknut mt-4 mb-4;
  }

  /* highlights a text */
  [data-id="highlight"] {
    @apply bg-white text-[#010102] rounded-xs ml-1 mr-1 pl-2 pr-2 pt-1 pb-1;
  }
}